<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

<select ng-model='selectedGroup' ng-options="metric.group as metric.group for metric in metrics | unique:'group'"></select>
<select ng-model='selectedYear' ng-options="metric.year as metric.year for metric in metrics | unique:'year'"></select>
<select ng-model='selectedQuarter' ng-options="metric.quarter as metric.quarter for metric in metrics | unique:'quarter'"></select>

<ol class='metrics'>
	<li ng-repeat='metric in metrics | filter: {group:selectedGroup, year:selectedYear, quarter:selectedQuarter}'>
		<p>{{metric.name}}</p>
		<p>{{metric.group}}</p>
		<p>{{metric.year}}</p>
		<p>{{metric.quarter}}</p>
	</li>
</ol>
